build/
make-build/

external/glfw
external/imgui
external/mini
external/stbimage
external/tinyobjloader
external/PhysX

.obsidian/
.vscode/
.VSCodeCounter/
test-models/
/.vs
/measure01.png
/measure02.png
/render_measures.txt

default_models/gizmos/*.blender
/default_models/gizmos/cylinder.blend
/default_models/gizmos/cylinder.blend1
/default_models/cube.blend1
/default_models/inv_cube.blend1
/default_models/inv_sphere.blend1
/default_models/sphere.blend1
/default_models/cube.blend
/default_models/inv_cube.blend
/default_models/inv_sphere.blend
/default_models/sphere.blend
